body {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #09223f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f4f5f5,
    #e4e4e4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 200px;
  grid-template-areas:
    ". . "
    "a a";
    justify-items: left;
}
.main-profile {
  grid-column: span 2;
  object-fit: cover;
  width: 50%;
  height: 50%;
  align-items: center;
  
}
a {
  color: inherit;
  font-size: 1.5em;
  padding: 0.3em;
}
.avatar {
  grid-area: a;
  align-self: center;
  justify-self: center;
}
.avatarName {
  font-size: 3em;
  text-align: center;
}
.bigAvatar {
  margin: 10;
  width: 260px;
  height: 260px;
}

.btn_portfolio {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  border-radius: 4px;
  position: inherit;
}
